<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        };
    </script>
</head>
<body>
    <div class="registration-container">
        <h1>Register</h1>
        <form class="registration-info" action="/createaccount" method="POST">
            <input class="input-styling" type="text" name="username" id="username" placeholder="Username" required>
            <input class="input-styling" type="password" name="password" id="password" placeholder="password" required>
            <input class="input-styling" type="text" name="name" id="name" placeholder="Full name" required>
            <input class="input-styling" type="email" name="email" id="email" placeholder="E-mail" required>
            <button type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>